<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>
<button class="open-button" onclick="openForm()">Vefsíður</button>

    <div class="form-popup" id="myForm">
    <form action="/action_page.php" class="form-container">
        <h1>Menu</h1>
        <button class="btn2"><a href="/staff.html" style="color:white">Staff</a></button>
        <button class="btn3"><a href="/blog.html" style="color:white">Blog</a></button>
        <button class="btn"><a href="/about.html" style="color:white">About</a></button>
        <button class="btn2"><a href="/" style="color:white">Home</a></button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
    </div>

<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>

</body>
</html>