<br>
<br>
<form>
    <fieldset class="account-info">
        <label>
            Name
            <input type="text" name="name" placeholder="Full name" required>
        </label>
        <label>
        Adress
        <input type="text" name="username">
        </label>
        <label>
        Email
        <input type="text" name="username">
        </label>
        <label>
        kreditkort<input type="text" id="kortanumer" pattern="[0-9]{16}" maxlength="16" minlength="16" placeholder="0000 0000 0000 0000" required><br>
        </label>
        <label>
            Tickets
            <select name="quantity" required>
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </label>
        <input type="checkbox" name="remember"> Vip
        <br>
        <input type="checkbox" name="remember"> Deluxe
        <br>
        <input type="checkbox" name="remember"> Normal
    </fieldset>       
    <label>
        <br>
        Comment
        <br>
        <textarea name="comments"></textarea>
    </label>
    <fieldset class="account-action">
        <input class="btn" type="submit" name="submit" value="order">
    </fieldset>
</form>
