/* Basic setup*/
.current {
    color: green;
  }
body{
  background-color: rgb(167, 67, 67);
}
.hvit{
  color: white;
}
.svart{
  color: black;
}
.mid{
  text-align: center;
}
.bakgrat{
  background-color: black;
}
.bakhvit{
  background-color: white;
}
.vin{
  float: left;
}

/* view */
.stuff {
  display: grid; /* grid erfist til barna (child element only) */
  grid-gap: 0;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "topi"
    "vinstri"
    "midja"
    "haegri";
  }
  .top{
    grid-area: topi;
  }
  .midja{
    grid-area: midja;
  }
  .vinstri{
    grid-area: vinstri;
  }
  .haegri{
    grid-area: haegri;
  }

  .boxarea{
    display: block;
    border: rgb(126, 228, 228);
  }

@media screen and (min-width: 60em) { 
  .stuff {
    display: grid; /* grid erfist til barna (child element only) */
    grid-gap: 0;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "topi topi" 
      "vinstri midja";
  }
}
/* Menu */ 
.navigation ul {
  font: bold 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.navigation li {
  display: inline-block;
}
.navigation a {
  background: Black;
  background: linear-gradient(Grey, Black);
  border-right: 1px solid rgba(0, 0, 0, .3);
  color: #fff;
  padding: 12px 20px;
  text-decoration: none;
}
.navigation a:hover {
  background: Black;
  box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
}
.navigation li:first-child a {
  border-radius: 4px 0 0 4px;
}
.navigation li:last-child a {
  border-right: 0;
  border-radius: 0 4px 4px 0;
}

/* Tables */
table {
  border-collapse: separate;
  border-spacing: 0;
  color: #4a4a4d;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
th,
td {
  padding: 10px 15px;
  vertical-align: middle;
}
thead {
  background: #395870;
  background: linear-gradient(#49708f, #293f50);
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
}
th:first-child {
  border-top-left-radius: 5px;
  text-align: left;
}
th:last-child {
  border-top-right-radius: 5px;
}
tbody tr:nth-child(even) {
  background: #f0f0f2;
}
td {
  border-bottom: 1px solid #cecfd5;
  border-right: 1px solid #cecfd5;
}
td:first-child {
  border-left: 1px solid #cecfd5;
}
.book-title {
  color: #395870;
  display: block;
}
.text-offset {
  color: #7c7c80;
  font-size: 12px;
}
.item-stock,
.item-qty {
  text-align: center;
}
.item-price {
  text-align: right;
}
.item-multiple {
  display: block;
}
tfoot {
  text-align: right;
}
tfoot tr:last-child {
  background: #f0f0f2;
  color: #395870;
  font-weight: bold;
}
tfoot tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}
tfoot tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}


/* form */ 

*,
*:before,
*:after {
   box-sizing: border-box;
}
form {
  border: 1px solid #c6c7cc;
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  width: auto;
  max-width: 280px;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
input {
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 10px;
}
.account-info {
  padding: 20px 20px 0 20px;
}
.account-info label {
  color: #395870;
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
.account-info input {
  background: #fff;
  border: 1px solid #c6c7cc;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #636466;
  padding: 6px;
  margin-top: 6px;
  width: 100%;
}
.account-action {
  background: #f0f0f2;
  border-top: 1px solid #c6c7cc;
  padding: 20px;
}
.account-action .btn {
  background: linear-gradient(#49708f, #293f50);
  border: 0;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  float: left;
  padding: 8px 16px;
}
.account-action label {
  color: #7c7c80;
  font-size: 12px;
  float: left;
  margin: 10px 0 0 20px;
}

/* menu */

.open-button {
  background-color: goldenrod;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  top: 23px;
  right: 28px;
  width: 280px;
  position: absolute;
  right: 100px;
  top: 60px;
  }
  
  .form-popup {
  display: none;
  position: fixed;
  top: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  }
  
  .form-container {
  max-width: 300px;
  padding: 10px;
  width: 280px;
  background-color: goldenrod;
  }
  
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
  }
  
  .form-container .btn {
  background-color: green;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  border-radius: 12px;
  }
  
  .form-container .btn2 {
  background-color: blue;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  border-radius: 12px;
  }
  
  .form-container .btn3 {
  background-color: darkmagenta;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  border-radius: 12px;
  }
  .btn3:active {
  background-color: lightpink;
  }
  .btn2:active {
  background-color: lightblue;
  }
  .btn:active {
  background-color: lightgreen;
  }
  .btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .btn2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .btn3:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  .form-container .cancel {
  background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
  opacity: 1;
  }
  
@media screen and (min-width: 37.5em) {
  body {font-family: Arial, Helvetica, sans-serif;}
  * {box-sizing: border-box;}
  
  .open-button {
  display: none;
  background-color: goldenrod;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  top: 23px;
  right: 28px;
  width: 280px;
  }
  
  .form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  }
  
  .form-container {
  display: none;
  max-width: 300px;
  padding: 10px;
  background-color: goldenrod;
  }
  
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
  }
  
  .form-container .btn {
  background-color: green;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  border-radius: 12px;
  }
  
  .form-container .btn2 {
  background-color: blue;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  border-radius: 12px;
  }
  
  .form-container .btn3 {
  background-color: darkmagenta;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  border-radius: 12px;
  }
  .form-container .btn4 {
      background-color: pink;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom:10px;
      opacity: 0.8;
      border-radius: 12px;
      }
  .btn3:active {
  background-color: lightpink;
  }
  .btn2:active {
  background-color: lightblue;
  }
  .btn:active {
  background-color: lightgreen;
  }
  .btn4:active {
      background-color: lightpink;
      }
  .btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .btn2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .btn3:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .btn4:hover {
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      }
  
  
  .form-container .cancel {
  background-color: red;
  }
  
  .form-container .btn:hover, .open-button:hover {
  opacity: 1;
  }
}



@media screen and (max-width: 37.5em) {
  .navigation ul {
    font: bold 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    display: none;
  }
  .navigation li {
    display: inline-block;
    display: none;
  }
  .navigation a {
    background: Black;
    background: linear-gradient(Grey, Black);
    border-right: 1px solid rgba(0, 0, 0, .3);
    color: #fff;
    padding: 12px 20px;
    text-decoration: none;
    display: none;
  }
  .navigation a:hover {
    background: Black;
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
    display: none;
  }
  .navigation li:first-child a {
    border-radius: 4px 0 0 4px;
    display: none;
  }
  .navigation li:last-child a {
    border-right: 0;
    border-radius: 0 4px 4px 0;
    display: none;
  }
}


.animation {
  margin-left: 8em;
  position: relative;
  overflow: hidden;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: 3; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.animation img {
  text-align: center;
}
@keyframes example {
  0%   {left:0px; top:0px;}
  25%  {left:200px; top:0px;}
  50%  {left:0px; top:0px;}
  75%  {left:200px; top:0px;}
  100% {left:0px; top:0px;}
}
